In [7]:
# Importar o arquivo gerado
import pandas as pd
data = pd.read_csv('E:\Downloads\Dados_Logistica_Ficticios.csv', sep=';', parse_dates=['Data de Envio', 'Data de Entrega'])

<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
C:\Users\FelipeDoVinho\AppData\Local\Temp\ipykernel_5724\2841013192.py:3: SyntaxWarning: invalid escape sequence '\D'
  data = pd.read_csv('E:\Downloads\Dados_Logistica_Ficticios.csv', sep=';', parse_dates=['Data de Envio', 'Data de Entrega'])

In [9]:
# Adicionar colunas auxiliares
# 1. Entregas no prazo (On-Time): Data de Entrega <= Data de Envio + 10 dias
data['Entrega no Prazo'] = data['Data de Entrega'] <= (data['Data de Envio'] + pd.Timedelta(days=10))

# 2. Entregas completas (In-Full): Quantidade Entregue >= Quantidade Enviada
data['Entrega Completa'] = data['Quantidade Entregue'] >= data['Quantidade Enviada']

# 3. OTIF por linha: Ambas condições atendidas
data['OTIF'] = data['Entrega no Prazo'] & data['Entrega Completa']

# 4. Cálculo do OTIF total (%)
otif_percentual = data['OTIF'].mean() * 100

round( otif_percentual, 2)  # 0.00

np.float64(13.02)

In [10]:
# Recalcular colunas auxiliares
data['Entrega no Prazo'] = data['Data de Entrega'] <= (data['Data de Envio'] + pd.Timedelta(days=10))
data['Entrega Completa'] = data['Quantidade Entregue'] >= data['Quantidade Enviada']
data['OTIF'] = data['Entrega no Prazo'] & data['Entrega Completa']

# Exibir uma amostra dos dados
data[['ID Pedido', 'Data de Envio', 'Data de Entrega', 'Quantidade Enviada',
      'Quantidade Entregue', 'Entrega no Prazo', 'Entrega Completa', 'OTIF']].head(10)

,ID Pedido,Data de Envio,Data de Entrega,Quantidade Enviada,Quantidade Entregue,Entrega no Prazo,Entrega Completa,OTIF
0,1,2023-01-31,2023-02-05,175,166,True,False,False
1,2,2023-12-30,2024-01-03,76,72,True,False,False
2,3,2022-05-10,2022-05-13,71,67,True,False,False
3,4,2023-07-18,2023-07-23,118,111,True,False,False
4,5,2023-02-04,2023-02-18,176,167,False,False,False
5,6,2022-12-31,2023-01-09,46,43,True,False,False
6,7,2022-11-10,2022-11-18,128,126,True,False,False
7,8,2020-05-01,2020-05-09,95,91,True,False,False
8,9,2021-04-11,2021-04-19,135,134,True,False,False
9,10,2023-05-23,2023-06-04,145,141,False,False,False

In [18]:
# Adicionar colunas auxiliares para análise por ano e mês
data['Ano'] = data['Data de Envio'].dt.year
data['Mês'] = data['Data de Envio'].dt.month

# 1. OTIF por Transportadora
otif_por_transportadora = data.groupby('Transportadora')['OTIF'].mean() * 100

# 2. OTIF por Ano
otif_por_ano = data.groupby('Ano')['OTIF'].mean() * 100

# 3. OTIF por Mês (considerando todos os anos juntos)
otif_por_mes = data.groupby('Mês')['OTIF'].mean() * 100


data[['Transportadora', 'OTIF']].head(2)

# otif_por_transportadora, otif_por_ano, otif_por_mes

     Transportadora   OTIF
0  Transportadora A  False
1  Transportadora C  False

In [22]:
# Formatar OTIF por Transportadora
df_otif_transportadora = otif_por_transportadora.reset_index()
df_otif_transportadora.columns = ['Transportadora', 'OTIF (%)']
print(df_otif_transportadora)

     Transportadora   OTIF (%)
0  Transportadora A  13.625731
1  Transportadora B  11.907731
2  Transportadora C  13.463820

In [23]:
# Formatar OTIF por Ano
df_otif_ano = otif_por_ano.reset_index()
df_otif_ano.columns = ['Ano', 'OTIF (%)']
print(df_otif_ano)

    Ano   OTIF (%)
0  2020  10.916667
1  2021  13.200000
2  2022  13.975155
3  2023  13.866878

In [24]:
# Formatar OTIF por Mês
df_otif_mes = otif_por_mes.reset_index()
df_otif_mes.columns = ['Mês', 'OTIF (%)']
print(df_otif_mes)

    Mês   OTIF (%)
0     1  14.318707
1     2  15.326633
2     3  12.967581
3     4  13.466334
4     5   8.577878
5     6  10.837438
6     7  14.596950
7     8  14.114833
8     9  13.888889
9    10  13.647059
10   11  12.250000
11   12  12.380952

### Exportar a analise gerada em CSV

In [25]:
df_otif_transportadora.to_csv('OTIF_Transportadora.csv', index=False, sep=';')
df_otif_ano.to_csv('OTIF_Ano.csv', index=False, sep=';')
df_otif_mes.to_csv('OTIF_Mes.csv', index=False, sep=';')